Django==1.10.8
Pillow==5.0.0
gunicorn==19.6.0
whitenoise==3.2.1
dj-database-url==0.4.2
psycopg2==2.7.4
django-rest-framework-social-oauth2==1.0.5
django-bootstrap3==7.0.1
django-braces==1.10.0
django-oauth-toolkit==0.10.0
