.brand-custom{
  font-size: 25px;
}

.nav-text{
  font-size: 16px;
}

.navbar-brand{
  line-height: 60px;
}
.navbar-nav>li>a {
  line-height: 60px;
}
.log-out-btn{
  border: none;
}

@media (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .brand-custom{
      line-height: 20px !important;
    }
    .navbar-toggle{
      display: block!important;
    }
    .navbar-header {
      float:none!important;
    }
}
