{% extends 'base.html' %}

{% block title %}
  Restaurant
{% endblock %}

{% block sidebar %}

<li><a href="{% url 'restaurant-account' %}">Account</a></li>
<li><a href="{% url 'restaurant-meals' %}" >Meals</a></li>
<li><a href="{% url 'restaurant-order' %}" class="active">Order</a></li>
<!--<li><a href="{% url 'restaurant-report' %}">Report</a></li>-->

<script>
    $(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});
  </script>
{% endblock %}
