{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}
{% block page %}
<div class=" col-lg-2"></div>
<div class="col-lg-8">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        Edit meal
      </h4>
    </div>
    <div class="panel-body">
      <form method="POST" enctype="multipart/form-data"> <!-- for image -->
        {% csrf_token %}
        {% bootstrap_form meals_form %}
        <button type="submit" name="edit" class="btn btn-warning">Update</button>
      </form>

    </div>
  </div>
</div>
<div class=" col-lg-2"></div>
{% endblock %}
