{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign In {% endblock %}
{% block heading %}  Sign In {% endblock %}

{% block content %}

  <form method="POST">
    {% csrf_token %} <!-- csrf for security -->
    {% bootstrap_form form %} <!-- pre defined form from django -->
    <button type="submit" name="sign-in" class="btn btn-primary pull-right">Sign In</button>
  </form>
  <br>
  <a href="{% url 'restaurant-sign-up' %}">Don't have an account? Sign up!</a>

{% endblock %}
