
{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign Up {% endblock %}
{% block heading %} Sign Up {% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data"> <!-- enctype for the images -->
  {% csrf_token %}
  {% bootstrap_form user_form %}
  <h3>Information of restaurant</h3>
  {% bootstrap_form restaurant_form %}
  <button type="submit" name="sign-up" class="btn btn-primary pull-right">Sign Up</button>
</form>
<br>
<a href="{% url 'restaurant-sign-in' %}">Already have an account? Sign in!</a>

{% endblock %}
